/* ============================================
   Notepad
   ============================================ */
.notepad-toolbar {
    padding: 5px;
    background: var(--win95-gray);
    border-bottom: 1px solid var(--win95-dark);
    display: flex;
    gap: 5px;
}

.notepad-content {
    width: 100%;
    height: 380px;
    background: white;
    border: 2px inset var(--win95-gray);
    font-family: 'VT323', monospace;
    font-size: 18px;
    padding: 10px;
    resize: none;
    outline: none;
}
